<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.korat"/>
    <context:component-scan base-package="com.korat.common"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:env.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:httpclient.properties</value>
                <value>classpath:rabbit.properties</value>
            </list>
        </property>
    </bean>

    <bean id="masterDateSource" class="com.jolbox.bonecp.BoneCPDataSource">
        <property name="driverClass" value="${jdbc.master.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.master.jdbcUrl}"/>
        <property name="username" value="${jdbc.master.username}"/>
        <property name="password" value="${jdbc.master.password}"/>
    </bean>

    <bean id="slave01DateSource" class="com.jolbox.bonecp.BoneCPDataSource">
        <property name="driverClass" value="${jdbc.slave.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.slave.jdbcUrl}"/>
        <property name="username" value="${jdbc.slave.username}"/>
        <property name="password" value="${jdbc.slave.password}"/>
    </bean>

    <bean id="dateSource" class="com.korat.manage.datasource.DynamicDataSource">
        <!--设置多个数据源-->
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <!--这个key需要和程序中的key一致-->
                <entry key="master" value-ref="masterDateSource"/>
                <entry key="slave" value-ref="slave01DateSource"/>
            </map>
        </property>
    </bean>

</beans>